.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #053f5c;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001; 
}

.navbar-logo {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-username {
  margin-right: 25px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
border: 2px solid #fff;
}

